.account{
    width: 100%;
    margin: 0px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;  
}

.accountTitle{
    font-size: 24px;
    text-align: center;
    color: gray;
    font-weight: 500;
}

.accountItem ul{
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;   
    border: 1px solid gray;
} 

.accountItem ul:hover{
    box-shadow: 0px 0px 10px gray;;
    transition: all 0.2s linear;
}

.accountItem ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0px;
    padding: 0px;
    height: 50px;  
}

.accountItem ul li p{
    font-size: 14px;
    padding: 5px;
    margin: 0px;
}

.accountItem ul li span{
    margin-right: 10px;
}

#accountId{
    margin-left: 10px;
}

.elem{
    color: gray;
    font-weight: 500;
}

.button{
    background-color: #2C63E7;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;      
}

.button:hover{
    box-shadow: 0px 0px 10px gray;
    transition: all 0.2s linear;
}

.accountButtons{
    display: flex;
    justify-content: flex-end;
}

#accountId{
    width: 10%;
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}

#buttonItemsLeft, #buttonItemsRight{
    padding: 0px 3px;
  
}

.accountLinks{
    text-decoration-line: none;
}

#accountId{
    padding-right: 12px;
}

.accountItem ul li p{ 
    font-size: 16px;      
}

#buttonItemsLeft p{
    font-size: 16px;
}

#buttonItemsRight p{
    font-size: 16px;
}


/*////////////////////////////////////////////////////////////////////////////////Responsive design */

@media (max-width: 1199px){
    .accountItem ul{
        width: 80%;
        font-size: 18px;
        padding: 5px;        
    }

    .accountItem ul li{
        height: 70px;
    }

    #buttonItemsLeft, #buttonItemsRight{
        padding: 0px;
        margin: 1px;
    }

    .accountButtons{
        display: flex;
        flex-direction: column;
    }

    .accountItem ul li p{ 
        font-size: 16px;      
    }

    #buttonItemsLeft p{
        font-size: 16px;
    }

    #buttonItemsRight p{
        font-size: 16px;
    }
}


@media (max-width: 991px){
    .accountItem ul{
        width: 90%;
        font-size: 16px;
        padding: 5px;        
    }

    .accountItem ul li{
        height: 70px;
    }

    #buttonItemsLeft, #buttonItemsRight{
        padding: 0px;
        margin: 1px;
    }

    .accountButtons{
        display: flex;
        flex-direction: column;
    }

    .accountItem ul li p{ 
        font-size: 16px;      
    }

    #buttonItemsLeft p{
        font-size: 16px;
    }

    #buttonItemsRight p{
        font-size: 16px;
    }
}


@media (max-width: 767px){
    .accountItem ul{
        width: 90%;
        font-size: 10px;
        padding: 2px;        
    }

    .accountButtons{
        display: flex;
        flex-direction: column;
    }

    .accountItem ul li p{ 
        font-size: 12px;      
    }

    #buttonItemsLeft p{
        font-size: 14px;
    }

    #buttonItemsRight p{
        font-size: 14px;
    }
}

@media (max-width: 576px){
    .accountItem ul{
        width: 98%;
        font-size: 10px;
        padding: 2px;        
    }

    .accountItem ul li p{ 
        font-size: 12px;      
    }

    #buttonItemsLeft, #buttonItemsRight{
        padding: 0px;
        margin: 3px;
    }

    #buttonItemsLeft p{
        font-size: 12px;
    }

    #buttonItemsRight p{
        font-size: 12px;
    }
}


