.home{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.homeBigImg{
    width: 100%;
    height: 420px;
    margin: 0px;
}

.offer{
    width: 100%;
    margin: 0px;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    background-color: #f8f8f8;  
}

.new, .sale{
    position: relative;
    width: 30%;
    margin: 0px;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.newImg, .homeImg{
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 20px #d5d5d5;;
    transition: all 0.2s linear;
    cursor: pointer;
}

.homeNewPrice{
    font-size: 16px;
    font-weight: 800;
    min-height: 35px;  
    color:red;        
}

.homePrice{
    width: 100%;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    min-height: 35px; 
    padding: 5px 15px;  
}

.homeFirstPrice{
    text-decoration-line: line-through; 
    margin-right: 10px;
    color: gray;
}

.homeSalePrice{
    color:red;
}

.imgGif{
    position: absolute;
    z-index: 1;
    width: 85px;
    height: 70px;
    top: 0px;
    right: 0px;
} 
    
.imgSale{
    position: absolute;
    z-index: 1;
    width: 65px;
    height: 60px;
    top: 0px;
    right: 0px;
}
/*///////////////////////////////////////////////////////////////////////////////// Responsive design*/

@media (max-width: 1199px){

    .offer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new, .sale{
        width: 25%;
        position: relative;
    }
    .homePrice{
        width: 100%;
        padding: 5px;
    }
   
    .homeNewPrice, .homeFirstPrice, .homeSalePrice{
        font-size: 14px;
    }

    .homeFirstPrice, .homeSalePrice{
       padding: 0px;
       margin: 0px;
       margin-left: 0px;
       margin-right: auto;
       line-height: 27px;
    }

    .homePrice{
        display: flex;
        flex-direction: column;
        max-height: 70px;
    }

   
}


@media (max-width: 991px){
    .homeBigImg{
        height: 500px;
    }

    .offer{
        display: flex;
        justify-content: center;
    }

    .new, .sale{
        width: 30%;
        position: relative;
    }

    .homeNewPrice, .homeFirstPrice, .homeSalePrice{
        font-size: 12px;
    }

    .homeFirstPrice, .homeSalePrice{
        padding: 0px;
        margin: 0px;
        margin-left: 0px;
        margin-right: auto;
        line-height: 27px;
     }
 
     .homePrice{
         display: flex;
         flex-direction: column;
         max-height: 70px;
     }

    .homeFirstPrice, .homeSalePrice{
        padding: 0px;
        margin: 0px;
        margin-left: 0px;
        margin-right: auto;
        line-height: 27px;
     }
 
     .homePrice{
         display: flex;
         flex-direction: column;
     }
 
}



@media (max-width: 837px){
    .offer{
        display: flex;
        justify-content: center;
    }

    .homeBigImg{
        height: 400px;
    }

    .new, .sale{
        width: 25%;
        position: relative;
    }

    .homeFirstPrice, .homeSalePrice{
        padding: 0px;
        margin: 0px;
        margin-left: 0px;
        margin-right: auto;
        line-height: 27px;
     }
 
     .homePrice{
         display: flex;
         flex-direction: column;
         max-height: 70px;
     } 

     .imgGif{
        width: 60px;
        height: 50px;  
    } 
        
    .imgSale{
        width: 40px;
        height: 40px;
    }
 
}


@media (max-width: 767px){
    .homeBigImg{
        height: 300px;
    }

    .imgGif{
        top: -5px;
        width: 60px;
        height: 50px;
    } 
        
    .imgSale{
        width: 35px;
        height: auto; 
    }
   
    .offer{
        display: flex;
        justify-content: center;
    }

    .new, .sale{
        display: flex;
        flex-wrap: wrap;
        width: 25%;
    }
    .homePrice{
        width: 100%;
        font-size: 14px;
        padding: 5px;
    }

    .homeFirstPrice, .homeSalePrice{
        font-size: 12px;
    }

}

@media (max-width: 576px){
   
    .offer{
        display: flex;
        justify-content: center;
    }

    .new, .sale{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
    }
    .homePrice{
        width: 100%;
        font-size: 14px;
        padding: 5px;
    }

    .homeFirstPrice, .homeSalePrice{
        padding: 0px;
        margin: 0px;
        margin-left: 0px;
        margin-right: auto;
        line-height: 27px;
     }
 
     .homePrice{
         display: flex;
         flex-direction: column;
     }
}




