.home{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.homeBigImg{
    width: 100%;
    height: 420px;
    margin: 0px;
    margin-top: 30px;
}

.offer{
    width: 100%;
    margin: 0px;
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;  
}

.new{
    position: relative;
    width: 30.6%;
    margin: 1.2%;
    margin-top: 0px;
    margin-bottom: auto;
}

.sale{
    width: 66.6%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.saleList{
    width: 46%;
    position: relative;
    margin: 2%;
    margin-top: 0px;
    margin-bottom: auto;
}

.newItem, .saleItem{
    width: 100%;
    position: relative;
}

.newImg, .homeImg{
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 20px #d5d5d5;;
    transition: all 0.2s linear;
    cursor: pointer;
}

.homePrice{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    min-height: 35px; 
    padding: 5px 15px;  
}

.homeFirstPrice {
    text-decoration-line: line-through; 
    color: gray;
    font-size: 16px;
    font-weight: 800;
}

.homeSalePrice, .homeNewPrice{
    font-size: 16px;
    font-weight: 800;
    color:red;
}

.imgGif{
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 75px;
    top: -8px;
    right: 0px;
} 
    
.imgSale{
    position: absolute;
    z-index: 1;
    width: 65px;
    height: 60px;
    top: 0px;
    right: 0px;
}
/*///////////////////////////////////////////////////////////////////////////////// Responsive design*/

@media (max-width: 1199px){
    .homeBigImg{
        height: 360px;
    }

    .homePrice{
        padding: 5px;  
    }
    .homePrice p{
        font-size: 14px;
        padding-top: 0px;
    }    
}


@media (max-width: 991px){
    .homeBigImg{
        height: 320px;
    }

    .offer, .sale{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .new, .saleList{
        width: 50%;
        margin-bottom: 30px;
    }

    .imgGif{
        width: 80px;
        height: 65px;
    }

    .imgSale{
        width: 55px;
        height: 50px;
    }

    .homePrice p{
        font-size: 18px;
        padding-top: 0px;
    }
    #homePrice {
        display: flex;
        justify-content: center;
    }

    .imgGif{
        width: 100px;
        height: 85px;
    }

    .imgSale{
        width: 75px;
        height: 80px;
    }
}

@media (max-width: 767px){
    .homeBigImg{
        height: 260px;
    }
    .offer, .sale{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .new, .saleList{
        width: 60%;
        margin-bottom: 30px;
    }

    .homePrice p{
        width: 100%;
        font-size: 16px;
        padding-top: 0px;
    }

    #homePrice {
        text-align: center;
    }

    .homeSalePrice{
        text-align: end;
    }

    .imgGif{
        width: 100px;
        height: 85px;
    }

    .imgSale{
        width: 75px;
        height: 80px;
    }

}

@media (max-width: 576px){
    .homeBigImg{
        height: 230px;
    }
    .imgGif{
        width: 85px;
        height: 70px;
    }

    .imgSale{
        width: 60px;
        height: 65px;
    }

    .homePrice p{
        font-size: 12px;
    }
}




