
.itemList{
    margin: 0px;
    padding-top: 25px;
    padding:  50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.item{
    width: 22%;
    margin: 1.4%; 
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    transition: all 0.2s linear;  
}
  
.item:hover {
    box-shadow: 0px 0px 10px #5b88ad;;
    transition: all 0.2s linear;
}
  
.itemTitle{
    height: 45px;
    display: flex;
    justify-content: space-around;
}
  
.itemTitle p{
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: auto;
    margin-right: auto;
    padding: 5px;
    background: #9fda40;
    color: #fff;
    font-size: 12px;
}
  
.itemTitle a svg{
    margin-right: 5px;
    margin-top: 5px;
    width: 22px;
    height: 22px;
    fill: #ccc;
    cursor: pointer;
    transition: all 0.1s linear;
}
  
.itemTitle a svg:hover {
    transform: scale(1.1);
    transition: all 0.1s linear;
    fill:  red;
}
  
.itemImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.itemImage img{
    width: 200px;
    height: 190px;
    margin: 5px 0;
}
  
.itemModel, .price, .perMonth, .firstPrice{
    margin: 0px;
}

.itemModel p{
    text-align: center;
    font-size: 14px;
    color: #333;
    min-height: 30px; 
}
  
.price p{
    text-align: center;
    font-size: 18px;
    color: #333;
    min-height: 20px;
}
  
.firstPrice p{
    text-align: center;
    margin-top: 0px;
    font-size: 18px;
    color: red;
    text-decoration: line-through;
    min-height: 20px; 
}
  
.perMonth p{
    text-align: center;
    color: #005acb;
    font-size: 12px;
    min-height: 20px; 
}
  
.perMonth span{
    font-size: 16px;
    font-style: 800;
    color: #333;
    margin-left: 5px;
}
  
.itemFooter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
  
.stars, .pay{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
  
.stars a svg{
    width: 20px;
    height: 20px;
    fill: gray;
    cursor: pointer;
}
  
.pay{
    background: #078fff;
    height: 22px;
    width: 25%;
    padding: 8px; 
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s linear;
    position: relative;
}
  
.pay:hover {
    background: #3ea8ff;
    transition: all 0.2s linear;
}
  
.pay a svg{
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-left: auto;
    color: gray;
}
.pay svg{
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-left: auto;
    color: gray;
}
  
.pay a p{
    font-size: 16px;
    color: #fff;
    margin-left: 4px;
    margin-right: auto;
}

.pay p{
    font-size: 16px;
    color: #fff;
    margin-left: 4px;
    margin-right: auto;
}
  
.pay a{
    text-decoration: none;
}

.payLink{
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
} 

/* ///////////////////////////////////////////////////////////////////////////Responsive design */

@media (max-width: 1199px){
  
  .item{
    width: 30%;
    margin: 1.56%; 
  } 
  .itemList{
    padding-top: 45px;
  }
    
}
  
@media  (max-width: 991px) {
  .item{
    width: 30%;
    margin: 1.53%; 
  }

  .itemList{
    padding-top: 45px;
  }

} 
  
  
@media (max-width: 767px) {

  .item{
    width: 50%;
    margin: 25%; 
    margin-top: 10px;
    margin-bottom: 10px; 
  }

    
  .itemList{
    padding-top:  60px;
  }
    
}
  
@media (max-width: 576px) {

  .item{
    width: 60%;
    margin: 20%; 
    margin-top: 10px;
    margin-bottom: 10px; 
  }

    
  .itemList{
    padding-top:  60px;
  }
          
}