body{
    margin: 0px;
    width: 100%;
}

.itemDetalis{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itemDetalisTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.detalisImg{
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.detalisImg img{
    height: 220px;
}

.detalisNmaePrice{
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}



/* .phoneDetalisPrice{
    height: 60%;
    margin:0px;
    padding: 10px;
}

.detalisButton{
    height: 20%;
    margin:0px;
    padding: 10px;
} */

.detailsTitle{
    color: #363636;
    font-size: 20px;
    padding: 0px;
    margin-left: 40px;
}


.detalisBottom ul li{
    list-style-type: none;
}

.detailsDevice li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 50px;    
}

.itemDetalisButton ul li{
    list-style-type: none;
}

.detalisPayButton{
    cursor: pointer;
}

.detalisItem{
    width: 30%;
    height: 100%;
    background-color: #f3f3f3;
    border: 1px solid #fff;
    border-right: none;
    padding-left: 20px;
}

.detalisItem p{
    font-size: 14px;
    color: gray;
}

.detailsProperties{
    width: 70%;
    height: 100%;
    background-color: #f3f3f3;
    border: 1px solid #fff;
    color: gray;
    padding-left: 20px;
   
}

.detailsProperties p{
    font-size: 14px;
}