body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.itemDetalis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    padding: 40px 0px;
    margin: 0px;
}

.itemDetalisTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}

.detalisImg{
    width: 70%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.detalisImg img{
    height: 220px;
}

.detalisNamePrice{
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
 
.goBack{
    width: 120px;
    cursor: pointer;
}

.goBack p{
    margin-bottom: 0px;
}

.itemDetalisButton{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.itemDetalisButton ul{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.detailsTitle{
    color: #363636;
    font-size: 20px;
    margin-left: 40px;
}

.detalisBottom{
    padding: 0px;
    margin: 0px;
    width: 100%;   
}

.itemDetalisButton ul{
    width: 100%;
    margin:0px;
}

.detalisBottom ul li{
    list-style-type: none;
    width: 100%; 
    margin: 0px;
    padding: 0px;
}

.detailsDevice{
    width: 100%;
    padding: 0px; 
    margin: 0px;   
}

.detailsDevice li{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;    
}

.detailsDevice li p{
    line-height: 25px;
}

.itemDetalisButton ul li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.detalisItem{
    width: 30%;
    min-height: 100%;
    background-color: #f3f3f3;
    border: 1px solid #fff;
    border-right: none;
    padding-left: 20px;
    margin: 0px;
}

#detalisItem{
    height: 80px;    
}

.detalisItem p{
    font-size: 14px;
    color: gray;
}

.detailsProperties{
    width: 70%;
    height: 100%;
    background-color: #f3f3f3;
    border: 1px solid #fff;
    color: gray;
    padding-left: 20px; 
}

.detailsProperties p{
    font-size: 14px;
}

/* ///////////////////////////////////////////////////////////////////////////Responsive design */

@media (max-width: 1199px){
   
    #detalisItem{
        height: 90px;    
    }
       
  }
    
  @media  (max-width: 991px) {
    
    #detalisItem{
        height: 120px;    
    }
  
  } 
    
  @media (max-width: 767px) {
    
    #detalisItem{
        height: 170px;    
    }
    
  }
    
  @media (max-width: 576px) {
    
    .itemDetalisButton{
        width: 100%;
    }
    #detalisItem{
        height: 190px;    
    }
                
  }