.shopPage{
    width: 100%;
    margin:  0px;
    padding: 0px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;  
    background-color: #f8f8f8;
}

.basket, .registration{
    width: 60%;
    margin: 30px auto;
    padding: 15px;
    display: flex;
    flex-direction: column; 
    background-color: #fff;
}

.basket{
    margin-top: 40px;
    margin-bottom: 0px;
}

.baskedTitle, .title{
    width: 60%; 
    padding-left: 15px;
    font-size: 20px;
    font-weight: 800;
    color: gray;
}

.basketList{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 20px;
}

.basketItem img{
    height: 170px;
}

.basketItem{
    width: 80%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.shopModel{
    width: 100%;
    margin-top: 0px;
    margin-bottom: auto;
    padding: 5px;
    padding-left: 20px;
    color: #337af7;
}

.plusMinus{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plusMinus p{
    font-size: 20px;
    cursor: pointer;
}

.basketPrice{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;  
}

.shopPrice p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: auto;
}

.plus, .minus{
    cursor: pointer;
}

.calc{
    margin-left: 100px;
}

.delete{
    margin-bottom: 5px;
    margin-top: auto;
}

.delete a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.delete a:hover{
    text-decoration: underline;
    color:gray;
}

.delete p{
    text-align: center;
    font-size: 14px;
    color:gray;
}

.delete{
    cursor: pointer;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.nameSurname, .phoneMail, .address, .house{
    width: 100%;
    padding: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameSurname ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;   
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.nameSurname ul li{
    width: 100%;
}

.nameSurname ul li p{
  padding-left: 10px;
}

.name, .surname, .phone, .mail, .region, .district{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameSurname ul li input{
    width: 90%;  
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    padding: 0px 10px;
}

.nameSurname ul li p{
    color: gray;
}

.phoneMail ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;   
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.phoneMail ul li{
    width: 100%;
}

.phoneMail ul li p{
  padding-left: 10px;
}

.phoneMail ul li input{
    width: 90%;  
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    padding: 0px 10px;
}

.phoneMail ul li p{
    color: gray;
}

.address ul li select{
    background-color: #fff;
}

.address ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;   
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.address ul li{
    width: 100%;
}

.address ul li p{
    padding-left: 10px;
}

.address ul li select{
    width: 95.5%;  
    height: 35px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
}

.address ul li p{
    color: gray;
}

.address option{
    color:gray
}

.regionItem, .districtItem{
    color: gray;
}

.house{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.house p{
    width: 100%;
    padding-left: 30px;
    color: gray;
}

.house input{
    width: 95%;  
    height: 35px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    padding: 0px 10px;
}

.notes{
    width: 98%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px 10px;
}

.notes p{
    color: gray; 
}

.notes textarea{
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    padding: 5px 10px;
}

.shopBotton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    margin-top: 70px;
    background-color: #2C63E7;
    color: #fff;
    border-radius: 4px;
    transition: 2s;
    cursor: pointer;
}

.shopBotton:hover{
    background-color: gray;
    transition: 2s;
}

.shopBotton p{
    font-size: 12px;
    padding: 0px;
}

.shopBotton svg{
    margin: 0px;
    margin-right: 5px;
    width: 20px;
    left: 20px;
}
#input:hover{
    box-shadow: 0 0 2px red;
}

/*////////////////////////////////////////////////////////////////////////////////Responsive design */

@media (max-width: 1199px){
    .notes{
        margin-left: 5px;
    }  
}

@media (max-width: 991px){
    .basketItem img{
        height: 100px;
    }

    .shopPrice p{
        font-size: 14px;
    }

    .shopModel{
        font-size: 14px;
    }
 
    .address ul{
        display: flex;
        flex-direction: column;
        width: 100%;   
    }

    .address ul li select{
        width: 99%;
    }

    .house input{
        width: 95%;
        height: 35px;
    }   
}

@media (max-width: 767px){

    .basket, .registration{
        width: 90%;
    }

    .basketItem img{
        height: 100px;
    }

    .shopPrice p{
        font-size: 14px;
    }

    .shopModel{
        font-size: 14px;
    }

    .notes{
        margin-left: 5px;
    }
  
}

@media (max-width: 576px){

    .basket, .registration{
        width: 90%;
    }

    .basketItem{
        width: 70%;
    }

    .basketPrice{
        width: 30%;
    }

    .basketItem img{
        height: 100px;
    }

    .shopPrice p{
        font-size: 14px;
    }

    .shopModel{
        font-size: 14px;
    }

    .notes{
        margin-left: 5px;
    }

}

