.account{
    width: 100%;
    margin: 0px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;  
}

.accountTitle{
    font-size: 24px;
    text-align: center;
    color: gray;
    font-weight: 500;
}


.accountItem ul{
    width: 60%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;   
    border: 1px solid gray;
} 


.accountItem ul:hover{
    box-shadow: 0px 0px 10px gray;;
    transition: all 0.2s linear;
}

.accountItem ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0px;
    padding: 10px;
    height: 40px;  
}



.accountItem ul li span{
    margin-right: 10px;
}

.elem{
    color: gray;
    font-weight: 500;
}


.button{
    background-color: #2C63E7;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;    
}


.button:hover{
    box-shadow: 0px 0px 10px gray;;
    transition: all 0.2s linear;
}

#buttonItemsLeft{
    display: flex;
    justify-content: flex-end;
}

#buttonItemsRight{
    display: flex;
    justify-content: flex-start;
}


/*////////////////////////////////////////////////////////////////////////////////Responsive design */

@media (max-width: 1199px){
    .accountItem ul{
        width: 80%;
        font-size: 18px;
        padding: 5px;        
    }
}


@media (max-width: 991px){
    .accountItem ul{
        width: 90%;
        font-size: 18px;
        padding: 5px;        
    }

    .accountItem ul li{
        height: 30px;
    }
}


@media (max-width: 767px){
    .accountItem ul{
        width: 98%;
        font-size: 16px;
        padding: 5px;        
    }

    .accountItem ul li{
        height: 30px;
    }
}

@media (max-width: 576px){
    .accountItem ul{
        width: 98%;
        font-size: 14px;
        padding: 5px;        
    }

    .accountItem ul li{
        height: 30px;
    } 
}


