body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  height: 50px;
  margin: 0px;
  background-color: gray;
}

.menu{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.logo{
  margin-left: 30px;
  margin-right: 10px;
  color:gray;
  transition: 2s;
  cursor: pointer;
}


.logo p{
  font-size: 25px;
  margin: 0px;
  padding: 3px;
}

.products{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-left: 20px; 
  margin-right: 600px;
} 

.products li p{
  padding: 3px;
  transition: 2s;
}

.products li a{
  text-decoration: none;
}

.products li p:hover{
  color: #25262b;
  transition: 2s;
}

.headerSvg ul{
  width: 60px;
  margin-right: -20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}


.menu li p{
  color: #fff;
}


.headerSvg ul li svg{
  width: 20px;
  height: 20px;
}

#headerShop, #headerAccount{
  fill-opacity: 0.9;
}



/* /////////////////////////////////////////////////////////////////////////////////////Phone items */

.phoneItems{
  width: 100%;
  margin: 50px 0px;
  padding: 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.phoneItem{
  width: 19%;
  display: flex;
  flex-direction: column;
  margin: 10px 5px; 
  border: 1px solid #ccc;
  transition: all 0.2s linear;
 }

 .phoneItem:hover {
  box-shadow: 0px 0px 10px #5b88ad;;
  transition: all 0.2s linear;
 }

 .phoneItemTitle{
   height: 45px;
   display: flex;
   justify-content: space-around;
 }

 .phoneItemTitle p{
   margin-top: 1px;
   margin-left: 1px;
   margin-bottom: auto;
   margin-right: auto;
   padding: 5px;
   background: #9fda40;
   color: #fff;
   font-size: 12px;
 }

 .phoneItemTitle a svg{
  margin-right: 5px;
  margin-top: 5px;
  width: 22px;
  height: 22px;
  fill: #ccc;
  cursor: pointer;
  transition: all 0.1s linear;
}

.phoneItemTitle a svg:hover {
  transform: scale(1.1);
  transition: all 0.1s linear;
}

 .phoneImage{
   display: flex;
   justify-content: center;
   align-items: center;
 }

.phoneImage img{
  width: 200px;
  height: 190px;
  margin: 5px 0;
}

.phoneModel, .price, .perMonth, .firstPrice{
  min-height: 30px;
  margin: 0px;
}


.phoneModel p{
  text-align: center;
  font-size: 14px;
  color: #333;
}

.price p{
  text-align: center;
  font-size: 18px;
  color: #333;
  min-height: 20px;
}

.firstPrice p{
  text-align: center;
  margin-top: 0px;
  font-size: 14px;
  color: red;
  text-decoration: line-through;
}

.perMonth p{
  text-align: center;
  color: #005acb;
  font-size: 12px;
}

.perMonth span{
  font-size: 16px;
  font-style: 800;
  color: #333;
  margin-left: 5px;
}

.phoneItemFooter{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.stars, .pay{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.stars a svg{
  width: 20px;
  height: 20px;
  fill: gray;
  cursor: pointer;
}

.pay{
  background: #078fff;
  height: 22px;
  width: 30%;
  padding: 8px 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.pay:hover {
  background: #3ea8ff;
  transition: all 0.2s linear;
}

.pay a svg{
  width: 25px;
  height: 25px;
  margin-right: 3px;
  margin-left: auto;
  color: gray;
}

.pay a p{
  font-size: 16px;
  color: #fff;
  margin-left: 3px;
  margin-right: auto;
  
}

.pay a{
  text-decoration: none;
}




.footer{
  width: 100%;
  height: 200px;
  margin: 10px 0px;
  background: gray;
  color: gold;
}

/*///////////////////////////////////////////////////////////////////////////// Phone page responsive design*/

@media (max-width: 1199px){
  
  .products{
    margin-right: 300px;
  }

  .phoneItem{
    width: 25%;
  }

  .headerSvg{
    padding-left: auto;
    padding-right: 10px;
    margin-right: 0px;
   }
  
}



@media  (max-width: 991px) {
 
  .products{
    width: 300px;
    margin-right: 50px;
    margin-left: 0px;
  }

  .phoneItem{
    width: 30%;
  }
  .phoneModel, .price, .perMonth, .firstPrice{
    min-height: 20px;
    margin: 0px;
  }
  
  .phoneModel p{
    font-size: 14px;
  }
  
  .price p{
    font-size: 16px;
  }
  
  .firstPrice p{
    font-size: 12px;
  }
  
  .perMonth p{
    font-size: 10px;
  }
  
  .perMonth span{
    font-size: 14px;
  }

  .headerSvg{
    padding-left: auto;
    padding-right: 10px;
    margin-right: 0px;
   }
   
} 




@media (max-width: 767px) {

  .logo{
    margin-left: 0px;
    margin-right: 0px;
  }

  
  .products{
    width: 300px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .phoneItem{
    width: 40%;
  }

  .phoneModel, .price, .perMonth, .firstPrice{
    margin: 0px;
    padding: 0px;
  }


  .headerSvg{
    padding-left: auto;
    padding-right: 20px;
    margin-right: 0px;
   }
   .headerSvg ul li a svg{
    width: 20px;
    height: 20px;
  }
  
}




@media (max-width: 576px) {

  .logo{
    margin-left: 10px;
    margin-right: 10px;
  }

  .logo p{
    font-size: 18px;
    width: 120px;
    margin-left: 0px;
    padding-left: 0px;
   
  }

  .products{
    padding-right: 10px;
    margin-right: 0px;
    width: auto;
  }

  .products li a p{
    font-size: 14px;
  }
 
  .headerSvg{
    padding-left: auto;
    padding-right: 10px;
    margin-right: 0px;
   }

  .headerSvg ul li a svg{
    width: 15px;
    height: 15px;
  }
 
  .phoneItems{
    width: 100%;
    margin: 50px 0px;
    padding: 5px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .phoneItem{
    width: 60%;
  }

  .phoneModel, .price, .perMonth, .firstPrice{
    min-height: 5px;
    margin: 2px;
  }

  .phoneModel p{
    margin: 0px;
  }

  .price p{
    margin: 0px;
  }

  .perMonth p{
    margin: 0px;
  }

  .firstPrice p{
    margin: 0px;
  }

 .phoneImage{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phoneImage img{
  width: 80%;
  height: auto;
  margin: 5px 0;
 }
}

.span_class {
  color: #9fda40;
}
