body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  height: 50px;
  margin: 0px;
  background-color:  #078FFF;
}

.menu{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.logo{
  margin-left: 30px;
  margin-right: 10px;
  color: gainsboro;
  font-weight: 900;
  transition: 2s;
  cursor: pointer;
}


.logo p{
  font-size: 25px;
  margin: 0px;
  padding: 3px;
}

.products{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-left: 20px; 
  margin-right: 600px;
} 

.products li p{
  padding: 3px;
  transition: 2s;
}

.products li a{
  text-decoration: none;
}

.products li p:hover{
  color: #25262b;
  transition: 2s;
}

.headerSvg ul{
  width: 60px;
  margin-right: -20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}


.menu li p{
  color: #fff;
}


.headerSvg ul li svg{
  width: 20px;
  height: 20px;
}

#headerShop, #headerAccount{
  fill-opacity: 0.9;
}


.footer{
  margin: 0px;
  padding: 10px;
  padding-top: 15px;
  background:  #078FFF;
  color: #fff;
  
}

.footerList{
  padding: 20px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerItem{
  width: 40%;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}


.cardsItem{
  width: 20%;
  margin: 0px; 
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
}

.footerItem p{
  text-align: center;
  line-height: 25px; 
}

.phoneText{
  margin-left: 10px;
}

.footerItem pre{
  text-align: center;
  font-family: source-code-pro;
  font-size: 16px;
  line-height: 0px;    
}

.cardImg{
  height: 35px;
  margin: 2px;
}

#reserved{
 display: flex;
 justify-content: flex-start;
}

#media{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.fb, .insta{
  width: 35px;
  height: 35px;
}

.fb{
  margin-right: 10px;
  
}

/*///////////////////////////////////////////////////////////////////////////////// Responsive design*/

@media (max-width: 1199px){
  
  .products{
    width: 300px;
    margin-right: 50px;
    margin-left: 0px;
  } 

  .footerItem p{
    margin-left: 10px;
  }

  .headerSvg{
    padding-left: auto;
    padding-right: 10px;
    margin-right: 0px;
   }

   .footerItem{
     width: 36%;    
   }

   .footerList{
    display: flex;
    flex-direction: column;
  }

  .footerItem{
    width: 90%;
    margin-bottom: 20px;
  }

  .cardImg{
    margin: 3px;
  }

}


@media  (max-width: 991px) {
 
  .products{
    width: 300px;
    margin-right: 50px;
    margin-left: 0px;
  }
  
  .phoneName{
    padding-top: 10px;
  }

  .footerItem p{
    margin-left: 10px;
  }

  .cardImg{
    margin: 3px;
  }
} 


@media (max-width: 767px) {
  .logo{
    margin-left: 5px;
    margin-right: 0px;
  }

  .logo p{
    font-size: 18px;
    width: 120px;
    margin-left: 0px;
    padding-left: 0px;
   
  }

  .products{
    width: 260px;
    margin-right: 50px;
    margin-left: 0px;
  }
  
  .footerList{
    display: flex;
    flex-direction: column;
  }

  .footerItem{
    width: 100%;
    margin-bottom: 20px;
  }

  .footerItem p{
    margin-left: 10px;
  }

  .cardImg{
    margin: 3px;
  }
}


@media (max-width: 576px) {

  .logo{
    margin-left: 15px;
    margin-right: 0px;
  }

  .logo p{
    font-size: 18px;
    width: 120px;
    margin-left: 0px;
    padding-left: 0px;
   
  }

  .products{
    padding-right: 10px;
    margin-right: 0px;
    width: auto;
  }

  .products li a p{
    font-size: 14px;
  }
 
  .headerSvg ul {
    margin-right: 0px;
  }

  .footerList{
    display: flex;
    flex-direction: column;
  }

  .footerItem{
    width: 90%;
    margin-bottom: 20px;
  }

  .footerItem p{
    margin-left: 10px;
  }

  .cardImg{
    margin: 3px;
  }
}