body{
    margin: 0px;
    width: 100%;
}

.detailsTitle{
    color: #363636;
    font-size: 20px;
    padding: 0px;
    margin-left: 40px;
}

.detalisBottom ul li{
    list-style-type: none;
}
.detailsPhone li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 50px;
  
    
    
}

.itemDetalis ul li{
    list-style-type: none;
}

.detailsName{
    width: 30%;
    height: 100%;
    background-color: #f3f3f3;
    border: 1px solid #fff;
    border-right: none;
    padding-left: 20px;
}

.detailsName p{
    font-size: 14px;
    color: gray;
}

.detailsProperties{
    width: 70%;
    height: 100%;
    background-color: #f3f3f3;
    border: 1px solid #fff;
    color: gray;
    padding-left: 20px;
   
}

.detailsProperties p{
    font-size: 14px;
}