/* .shopPage{
    margin: 0px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: #f5f5f5;
}


.toBasket{
    width: 70%;
    margin-right: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
}


.information{
    width: 100%;
    margin: 0px;
    padding: 20px;
    padding-bottom: 50px;
    list-style-type: none;
}


.informationTitle{
    font-size: 24px;
}

.information li{
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.nameSurname, .phoneEmail, .cityStreet, .address{
    display: flex;
    flex-direction: row;
}



.name, .surname, .phone, .email, .city, .community{
    width: 47%;
}



.name, .phone, .city{
    margin-right: 30px;
}

.nameInput, .surNameInput, .phoneInput, .emailInput, .homeAddressInput, .homeAddressItem{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #aaa;
    outline: none;
    padding: 0px 10px;
}

.city select{
    width: 105%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #aaa;
    outline: none;
    padding: 0px 10px;
    background-color:  #fff;
}
.community select{
    width: 105%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #aaa;
    outline: none;
    padding: 0px 10px;
    background-color:  #fff;
}

.nameInput:focus {
    box-shadow: 0px 0px 8px #9ecbf6;
}

.surNameInput:focus{
    box-shadow: 0px 0px 8px #9ecbf6;
}

.phoneInput:focus{
    box-shadow: 0px 0px 8px #9ecbf6;
}

.emailInput:focus{
    box-shadow: 0px 0px 8px #9ecbf6;
}

.city select:focus{
    box-shadow: 0px 0px 8px #9ecbf6;
}

.community select:focus{
    box-shadow: 0px 0px 8px #9ecbf6;
}

.homeAddressInput:focus{
    box-shadow: 0px 0px 8px #9ecbf6;
}

.notesInput:focus{
    box-shadow: 0px 0px 8px #9ecbf6;
}


.notes{
    width: 90%;
    height: 700px;
}


.general{
    margin: 0px;
    margin-bottom: auto;
    padding: 10px;
    padding-bottom: 30px;
    width: 30%;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    cursor: pointer;
}

.generalRows{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}


.generalRows li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

 
.generalRows li .pay{
    color: #337af7;
    text-decoration:  none;
}


.generalTytle{
    width: 100%;
    margin: 0px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generalTytleText{
    color: gray;
}

.generalTytlePrice{
    font-size: 20px;
    color: #000;
}


.checkboxRow p{
    font-size: 12px;
}


.shopBotton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #9ecbf6;
    color: #fff;
    transition: 2s;
   
}

.shopBotton:hover{
    background-color: #337af7;
    transition: 2s;
}

.shopBotton p{
    font-size: 12px;
    padding: 0px;
}

.shopBotton svg{
    margin: 0px;
    margin-right: 5px;
    width: 20px;
    left: 20px;
}
  */

  .shopPage{
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-direction: row;
      align-items: center;

  }

  .toBasket{
    background-color:red;
    width: 70%;
    margin: 10px;
    margin-right: 20px;
    margin-top: 30px;
    padding: 10px;
  }

  .general{
    background-color: blue;
    width: 30%;
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
  }
